
#content-report-page{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    margin:0;
    width:100%;
    height:100%;
    display: box;
    justify-content: center;
}

#report-container{
    background-color: white;
    width:100%;
    height:100%;
    box-sizing: border-box;

    /* DOCUMENT MARGINS FOR PRINTING */
    padding: 15mm;
}

#report-table{
    width:100%;
    border-collapse: collapse;
}

#report-title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#report-heading{
    font-size:28px;
}

.value-heading{
    width:fit-content;
}

.section-title{
    font-weight: bold;
    font-size:18px;
    border-bottom: 2px solid black;
}

.section-last-row > td:nth-child(2), .section-last-row > td:nth-child(3){
    border-top: 2px solid black;
}

.section-total{
    font-weight: bold;
    font-size:16px;
}

.section-total-value{
    font-weight: bold;
    font-size:16px;
    border-bottom: 2px solid black;
}

.summary-title{
    font-weight: bold;
    font-size:20px;
}

.profit-loss-final{
    border-bottom: double black;
    border-bottom-width: 6px;
}

/* ensures value table cells text is bottom right */

#report-table td{
    display: flex;
}

#report-table tr {
    display: flex;
}

#report-table td span{
    align-self:flex-end;
    
}

/* Styling for the Heading Row */

#report-table th:nth-child(1) {
    flex: 50;
}

#report-table th:nth-child(2), #report-table th:nth-child(3){
    margin:0px;
    min-width:100px;
    flex: 1;

    padding:0px;
    padding-left:5px;
    padding-right:5px;

    font-size:18px;
}

#report-table td:nth-child(1) {
    flex: 50;
}

/* Styling for all the other normal rows in the table */

#report-table td:nth-child(2), #report-table td:nth-child(3){
    margin:0px;
    min-width:100px;
    flex: 1;

    text-align: right;
    justify-content: flex-end;

    padding:0px;
    padding-right:10px;

    font-size:16px;
}