@import url("./utils.css");

.tabset-notebook {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.tabset-header {
  width: 100%;
  flex: 1;

  max-height: 30px;

  background-color: gray;
}

.tabset-links {
  display: flex;

  max-width: 600px;

  height: 100%;

  user-select: none;
}
.tabset-contents {
  flex: 8;
}
.tabset-content {
  width: 100%;
  height: 100%;

  background-color: #f1f1f1;
  box-sizing: border-box;
}

/* Style the tab */
.tabset-link {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

  flex: 1;

  cursor: pointer;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;

  border: none;
  outline: none;

  cursor: pointer;

  padding: 14px 16px;
  transition: 0.3s;

  height: 100%;
}

/* Style the tab content */
.tabset-content {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 